<!-- Content -->
<nav class="zg-page-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9">
        <h1>Timesheet <small><a href="/"><span class="glyphicon glyphicon-home"></span></a></small></h1>
        <ul class="list-inline">
          <li><a href="#/task">Task</a></li>
          <li><a href="#/admin">Admin</a></li>
        </ul>
      </div>
    </div> <!-- column 2 -->
  </div> <!-- row -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">

      <div class="row">
        <div class="col-xs-12">

          <div class="page-header">
            <h1 class="" id="nav-summary">{{record.started | date:'EEEE, d MMMM yyyy'}}</h1>
          </div>

          <form class="form-inline" novalidate name="" role="form">
            <div class="zg-toolbar">
              <div class="btn-group">
                <button class="btn btn-default" type="button" ng-click="prevDay()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                <button class="btn btn-default" type="button" ng-click="openDay()">Open</button>
                <button class="btn btn-default" type="button" ng-click="nextDay()"><span class="glyphicon glyphicon-chevron-right"></span></button>
              </div>
              <div class="btn-group">
                <button class="btn" ng-class="recordChanged()" type="button" ng-click="saveRecord()">Save</button>
                <button class="btn btn-default" type="button" ng-click="revertRecord()">Revert</button>
                <button class="btn btn-default" type="button" ng-click="deleteRecord()">Delete</button>
              </div>

              <div class="btn-group" dropdown is-open="status.resOpen">
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                  {{settings.durationRes | time}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="" ng-click="setDurationRes(1); status.resOpen = 0">00:01</a></li>
                  <li><a href="" ng-click="setDurationRes(5); status.resOpen = 0">00:05</a></li>
                  <li><a href="" ng-click="setDurationRes(10); status.resOpen = 0">00:10</a></li>
                  <li><a href="" ng-click="setDurationRes(15); status.resOpen = 0">00:15</a></li>
                  <li><a href="" ng-click="setDurationRes(30); status.resOpen = 0">00:30</a></li>
                  <li><a href="" ng-click="setDurationRes(60); status.resOpen = 0">01:00</a></li>
                </ul>
              </div>
            </div> <!-- zg-toolbar -->
          </form>


          <table class="table table-condensed table-form">
          <thead>
            <tr class="">
              <th class="text-center">Started</th>
              <th class="text-center">Duration</th>
              <th class="text-center" style="width: 5em;">Units</th>
              <th class="">Task</th>
              <th class="">Comments</th>
              <th class=""></th>
            </tr>
          </thead>

          <tbody>
            <tr class="" ng-repeat="work in record.work">
            <td class="text-center">
              <button type="button" class="btn btn-block btn-default">
                <a class="" ng-click="subStarted(work, $index)"><span class="glyphicon" ng-class="{'glyphicon-minus': $first, 'glyphicon-chevron-down': !$first}"></span></a>
                {{work.started | date:'shortTime'}}
                <a class="" ng-click="addStarted(work, $index)"><span class="glyphicon" ng-class="{'glyphicon-plus': $first, 'glyphicon-chevron-up': !$first}"></span></a>
              </button>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-block btn-default">
                <a class="" ng-click="subDuration(work)"><span class="glyphicon glyphicon-minus"></span></a>
                {{work.duration | time}}
                <a class="" ng-click="addDuration(work)"><span class="glyphicon glyphicon-plus"></span></a>
              </button>
            </td>
            <td>
              <input type="number" class="form-control text-center" ng-model="work.units">
            </td>
            <td style="">
                <button type="button" class="btn btn-default btn-block btn-wrap" ng-click="findTaskId(work)">
                  {{work.taskId | taskName}}
                </button>
            </td>
            <td>
              <textarea class="form-control" rows="1" ng-model="work.description" ng-Dblclick="editDesc(work)"></textarea>
            </td>
            <td>
              <button type="button" class="btn btn-danger" ng-click="delWork(work.id)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
            </tr>
          </tbody>

          <tfoot>
            <tr class="">
            <td class="text-center">
              <label class="control-label">{{record.finished | date:'shortTime'}}</label>
            </td>
            <td class="text-center">
              <label class="control-label">{{record.duration | time}}</label>
            </td>
            <td colspan="3">
                <input type="text" class="form-control" ng-model="newWorkDesc" ng-keydown="addWork($event)" placeholder="" typeahead="task.name for task in findTaskName($viewValue) | limitTo:10" typeahead-on-select="selectedTask($item, $model, $label)" focus-on="newWorkDesc">
            </td>
            <td>
              <button class="btn btn-success" type="button" ng-click="addWork()">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
            </td>
            </tr>
          </tfoot>
          </table>
        </div> <!-- col -->
      </div> <!-- row -->


      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h1 class="" id="">Timesheet Summary<br><small>{{summary.start | date:'d MMMM yyyy'}} - {{summary.end | date:'d MMMM yyyy'}}</small></h1>
          </div>

          <div class="zg-toolbar">
            <form class="form-inline" novalidate name="" role="form">
              <div class="btn-group" dropdown is-open="status.rptTypeOpen">
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                  {{summary.typeName}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-repeat="type in summary.types"><a href="" ng-click="setSummaryReport($index); status.rptTypeOpen = 0">{{type}}</a></li>
                </ul>
              </div>
            </form>
          </div> <!-- zg-toolbar -->

          <h2>Grand Total</h2>
          <div class="row">
            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
              <table class="table table-condensed">
                <thead>
                  <tr><th></th><th class="text-right">Projects</th><th class="text-right">Other</th></tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Duration</th>
                    <td class="text-right">{{summary.total.projects.duration | time}}</td>
                    <td class="text-right">{{summary.total.other.duration | time}}</td>
                  </tr>
                  <tr>
                    <th>Units</th>
                    <td class="text-right">{{summary.total.projects.units}}</td>
                    <td class="text-right">{{summary.total.other.units}}</td>
                  </tr>
                  <tr>
                    <th>Income</th>
                    <td class="text-right">{{summary.total.projects.income | currency}}</td>
                    <td class="text-right">{{summary.total.other.income | currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>


          <h2 ng-repeat-start="(project, data) in summary.report | orderBy:project">{{project}}</h2>
          <table class="table table-condensed" ng-repeat-end>
            <thead>
              <tr>
                <th>Day</th>
                <th class="text-right">Duration</th>
                <th class="text-right">Units</th>
                <th class="text-right">Income</th>
                <th class="col-xs-3">Task Name</th>
                <th class="col-xs-4">Comments</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, value) in data.work">
                <td><a href="" ng-href="#/timesheet/{{value.day}}">{{value.day | date:'dd MMM yy (EEE)'}}</a></td>
                <td class="text-right">{{value.duration | time}}</td>
                <td class="text-right">{{value.units}}</td>
                <td class="text-right">{{value.income | currency}}</td>
                <td><a href="" ng-href="#/task/{{value.taskId}}">{{value.taskName}}</a></td>
                <td class="text-pre-line">{{value.description}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td class="text-right">{{data.duration | time}}</td>
                <td class="text-right">{{data.units}}</td>
                <td class="text-right">{{data.income | currency}}</td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div> <!-- col -->
      </div> <!-- row -->

    </div> <!-- column 1 -->

    <div class="hidden-xs hidden-sm col-md-3">

        <h3></h3>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Reminders</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in reminders | orderBy:'getTimeRem' | limitTo:5">
              <td class="text-pre-line"><a href="" ng-href="#/task/{{task.id}}"><strong>{{task.name}}</strong></a><br>{{task.notes}}</td>
              <td class="text-right">{{task.reminder | dueInDays}}</td>
            </tr>
          </tbody>
        </table>

        <h3></h3>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Deadlines</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in deadlines | orderBy:'getTimeDeadline' | limitTo:5">
              <td class="text-pre-line"><a href="" ng-href="#/task/{{task.id}}"><strong>{{task.name}}</strong></a></td>
              <td class="text-right">{{task.deadline | dueInDays}}</td>
            </tr>
          </tbody>
        </table>

    </div> <!-- column 2 -->

  </div> <!-- row -->
</div> <!-- container -->


