/* Bootstrap overrides / additions */  
.modal-header {
  text-align: center;
}

.page-header {
  margin-top: 50px;
  text-align: center;
}

.text-pre-line {
  white-space: pre-line;
}

textarea {
  resize: vertical;
  overflow: auto;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.btn:disabled:focus,
.btn:disabled.focus,
.btn.disabled:focus,
.btn.disabled.focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.btn-wrap {
  white-space: normal;
}

.btn-fixed-width {
  width: 20em;
}

.text-muted {
  color: #bbb;
}

.form-inline > * {
  margin-right: 5px;
}

.form-inline .pagination {
  margin-top: 0px;
  margin-bottom: 0px;
    vertical-align: middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Application specific */
.zg-toolbar {
  margin-bottom: 17px;
  text-align: center;
}

.zg-toolbar > * {
  margin-bottom: 20px;
}

.zg-toolbar > .checkbox {
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
}

.modal .zg-toolbar {
  margin-bottom: 0px;
}

.zg-page-header {
  background-color: rgb(111, 84, 153);
  background-image: linear-gradient(rgb(86, 61, 124) 0px, rgb(111, 84, 153) 100%);
  color: #eee;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.zg-page-header h1,
.zg-page-header .h1,
.zg-page-header h2,
.zg-page-header .h2,
.zg-page-header h3,
.zg-page-header .h3 {
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
}
.zg-page-header .list-unstyled {
  font-size: 1.4em;
}
.zg-page-header small {
  color: rgb(205, 191, 227);
}
.zg-page-header a {
  color: inherit;
  text-decoration: none;
}
.zg-page-header a:hover,
.zg-page-header a:focus {
  color: inherit;
  text-decoration: underline;
}

.zg-page-header .list-inline {
  display: inline-block;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  cursor: pointer; 
  background-color: #ddd;
}

.table-form {
  background-color: #ddd !important;
  border: 1px solid #ccc;
}
.table-form > thead > tr > th,
.table-form > tbody > tr > th,
.table-form > tfoot > tr > th,
.table-form > thead > tr > td,
.table-form > tbody > tr > td,
.table-form > tfoot > tr > td {
  border-top: 0;
}

